.movies {
    text-align: start;    
}


.delete {
    color: #fff;
    background-color: rgb(199, 137, 178);   
    display: flex;
    justify-content: center; 
    align-items: center;   
}
 .delete:hover {
    cursor: pointer;            
    box-shadow: 0 0 5px rgb(136, 70, 114);
 }
 .delete:active {
    cursor: pointer;         
    box-shadow: 0 0 0;
 }
 