.movies {
    text-align: start;    
}

.delete {
    color: #fff;
    background-color: rgb(219, 163, 200);      
}
    .delete:hover {
        cursor: pointer;            
        box-shadow: 0 0 5px rgb(202, 128, 177);
    }
    .delete:active {
        cursor: pointer;         
        box-shadow: 0 0 0;
    }

.edit {
    color: #fff;
    background-color: rgb(213, 214, 115);    
}
    .edit:hover {
        cursor: pointer;          
        box-shadow: 0 0 5px rgb(136, 70, 114);
    }
    .edit:active {
        cursor: pointer;           
        box-shadow: 0 0 0;
    }
 